*, 
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
	background: #09203f;
  background-image: linear-gradient(to top, #072955 0%, #09203f 100%);
  background-repeat: no-repeat;
	color: #222;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h2 {
	text-align: center;
	font-size: 2.5rem;
}


a{
  text-decoration: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

.filter-container {
    position: relative;
    margin: 40px auto 100px auto;
    width: 70vw;
    max-width: 800px;
}

.filter {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 0;
    border-radius: 50px;
    border: 2px solid transparent;
    outline: none;
}

.results-found{
  color: white;
  padding: 5px 10px;
  font-size: .85rem;
}

.btn {    
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  transition: .5s ease;
}

.btn:hover{  background-color: #6825ee;  }

.pokemons-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
  place-content: center;
}






/* CORES DOS TIPOS DE POKEMON */
.steel{
  background-color: #f4f4f4;
  color: #222;
  transition: all .3s ease;
}

.steel:hover{  background-color: #e9e6e6;  }

.fire {
	background-color: #FF6B6B;
  color: #222;    
  transition: all .3s ease;
}

.fire:hover{  background-color: #f84848;  }

.grass {
	background-color: #3DEBB1;
  color: #222;
  transition: all .3s ease;
}

.grass:hover{  background-color: #00e096;  }

.electric {
	background-color: #fafa3e;
  color: #222;
  transition: all .3s ease;
}

.electric:hover{  background-color: #e2e203;  }

.water {
	background-color: #9CF5ED;
  color: #222;
  transition: all .3s ease;
}

.water:hover{  background-color: #44f5e6;  }

.ice {
  background-color: #BEF5ED;
  color: #222;
  transition: all .3s ease;
}

.ice:hover{  background-color: #81f1e1;  }

.ground {
	background-color: #A78874;
  color: #222;
  transition: all .3s ease;
}

.ground:hover{  background-color: #a87e63;  }

.rock {
	background-color: #C5B4D5;
  color: #222;
  transition: all .3s ease;
}

.rock:hover{  background-color: #b590d8;  }

.fairy {
	background-color: #FFAFFB;
  color: #222;
  transition: all .3s ease;
}

.fairy:hover{  background-color: #f56fee;  }

.poison {
	background-color: #6bc747;
  color: #222;
  transition: all .3s ease;
}

.poison:hover{  background-color: #70e741;  }

.bug {
	background-color: #DEC9B4;
  color: #222;
  transition: all .3s ease;
}

.bug:hover{  background-color: #ddb690;  }

.dragon {
	background-color: #F6CD9C;
  color: #222;
  transition: all .3s ease;
}

.dragon:hover{  background-color: #f1b871;  }

.psychic {
	background-color: #5b0c77;
  color: black;
  transition: all .3s ease;
}

.psychic:hover{  background-color: #6a038f;  }

.flying {
	background-color: #F5F5F5;
  color: #222;
  transition: all .3s ease;
}

.flying:hover{  background-color: #e4e2e2;  }

.fighting {
	background-color: #E6E0D4;
  color: #222;
  transition: all .3s ease;
}

.fighting:hover{  background-color: #e6d4b1;  }

.normal {
	background-color: #F5F5F5;
  color: #222;
  transition: all .3s ease;
}

.normal:hover{  background-color: #dfdddd;  }

.ghost {
	background-color: #4C7397;
  color: #222;
  transition: all .3s ease;
}

.ghost:hover{  background-color: #2d6fac;  }

.dark {
	background-color: #0c3a66;
  color: white;
  transition: all .3s ease;
}

.dark:hover{  background-color: #03437e;  }






/* CARDS */
.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
  cursor: pointer;
  user-select: none;
}

.card.unique{    
  margin: auto;
  max-width: 500px;
  min-width: 300px;
}

.card::after {
  content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-number{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: .75rem;
  font-weight: bold;
  color: #555;
}

.card-title {
  color: #222;
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #333;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.dark .card-subtitle ,
.psychic .card-subtitle,
.ghost .card-subtitle,
.dark .card-title ,
.psychic .card-title,
.ghost .card-title,
.dark .card-number ,
.psychic .card-number,
.ghost .card-number{
	color: #B6C4D1;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

.card-container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.card-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 5px;
  padding-inline-start: 0;
  margin-bottom: 5px;
}

.card-list-item{
  background-color: #fff;
  opacity: .7;
  border-radius: 30px;
  color: rgb(27, 27, 27);
  list-style: none;
  height: 40px;
  display: grid;
  place-items: center;
}

.card-list-item p{
  font-weight: bold;
  font-size: .8rem;
}

.card-list-item p::first-letter {
  text-transform: capitalize;
}


@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}



/* Paginação */
.pagination{
  margin: 50px auto;
  text-align: center;
}
.current{
  color: white;
  margin: 0 10px;
}