{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, 
      initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" 
      content="Site de consumo da api de pokemons para exercício de conhecimentos.">
    <meta name="keywords" content="pokemon, api, pokedex, pokeapi">
    <meta name="author" content="Lucas de Almeida Sarmento">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/pokemon_info.css' %}">  
    <link rel="shortcut icon" href="{% static 'img/pokeball.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
      rel="stylesheet">
    {% block title %} {% endblock %}   
</head>

<body>

  {% block container %}
  <div class="container">

    <form action="{% url 'pg_busca' %}">
      <div class="filter-container">
        <input type="search"
                class="filter"
                id="form-busca"
                name="termo"
                value="{{ request.GET.termo }}"
                placeholder="Type pokemon's name or number"
                autofocus/>
        <p class="results-found">{{pokemonsList.paginator.count}} pokemons found.</p>
      </div>
    </form>


    <ul class="pokemons-grid">
      {% if pokemons %}
        {% for pokemon in pokemons %}
        <a href="{% url 'pg_pokemon' %}?pokemon={{pokemon.name}}"> 
          <li class="card {{ pokemon.types.0.type.name }}">        
            <p class="card-number">N° {{ pokemon.id }}</p>              
            <img class="card-image" src="{{ pokemon.img }}" alt="{{ pokemon.name }}">
            <h2 class="card-title">{{ pokemon.name }} </h2>
            <p class="card-subtitle">
              {{ pokemon.types_string }}
            </p>  
          </li>
        </a> 
        {% endfor %}

       {% elif not pokemons %}
        <h1 style="text-align: center; color: white;">Not found</h1>
       {% endif %}

    </ul>



    {% if pokemonsList.paginator.count > 12 %}
    <div class="pagination">
      <span class="step-links">
          {% if pokemonsList.has_previous %}
              <a class="btn" href="?termo={{request.GET.termo}}&page=1">&laquo;</a>
              <a class="btn" href="?termo={{request.GET.termo}}&page={{ pokemonsList.previous_page_number }}">&lsaquo;</a>
          {% endif %}

          <span class="current">
              {{ pokemonsList.number }} de {{ pokemonsList.paginator.num_pages }}
          </span>

          {% if pokemonsList.has_next %}
              <a class="btn" href="?termo={{request.GET.termo}}&page={{ pokemonsList.next_page_number }}">&rsaquo;</a>
              <a class="btn" href="?termo={{request.GET.termo}}&page={{ pokemonsList.paginator.num_pages }}">&raquo;</a>
          {% endif %}
      </span>
    </div>
   {% endif %}

  </div>
  {% endblock %}

</body>
</html>